*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    transition:0.5s;
}

header{
    background:#0f172a;
    color:white;
    padding:20px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

#theme-btn{
    cursor:pointer;
    padding:8px 12px;
}

.hero{
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#3b82f6,#06b6d4);
    color:white;
}

.hero h2{
    font-size:3rem;
    margin-bottom:20px;
}

.hero button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    background:white;
    color:#2563eb;
    cursor:pointer;
    border-radius:10px;
}

.about,.mission,.volunteer{
    padding:70px 10%;
}

.about h2,
.mission h2,
.volunteer h2{
    margin-bottom:25px;
    color:#2563eb;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    padding:30px;
    border-radius:15px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px);
}

form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

input,textarea{
    padding:15px;
}

form button{
    width:180px;
    padding:15px;
    background:#2563eb;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:20px;
}

.dark{
    background:#111827;
    color:white;
}

.dark .card{
    background:#1f2937;
}

.dark input,
.dark textarea{
    background:#1f2937;
    color:white;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
    }

    .hero h2{
        font-size:2rem;
    }
}